@model IEnumerable<ProductViewModel>






<div class="container-fluid">




    <div class="row">
        @foreach (var item in Model)
        {
            <div class="cardItem col-md-4 col-xs-6 border-primary mb-3 align-content-center justify-content-sm-center">

                <div class="card m-3" style="max-width: 340px; ">
                    <div class="row g-1">

                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 id="productName" class="card-title text-center">
                                        @item.Name

                                    </h5>
                                </p>
                            </div>
                        </div>



                        <div class="card-body">
                            <img src="~/Files/Images/@item.ImageUrl" class="img img-thumbnail" style="max-width:200px;height:200px;" alt="@item.Name">
                        </div>

                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-end ">
                                        <i class="bi bi-eye-fill" title="Show Details "> </i>
                                    </a>
                                    <a asp-controller="Cart" asp-action="create" asp-route-productId="@item.Id" class="btn btn-success text-white " title="Add to Cart">
                                        <i class="bi bi-cart-plus"></i>
                                        (Price @item.Price.ToString("c"))
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>




</div>