@model CartViewModel
@{
}
<form asp-action="Create" method="post">

    <partial name="PartialViews/CreateEditPartial" model="@Model" />

    <div class="row m-auto">

        <div class="col-5">

            <a class="btn btn-primary" asp-action="Index">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Back To list
            </a>
        </div>

        <div class="col-5">

            <input type="submit" class="btn btn-success" value="Add Product" />
        </div>

    </div>
</form>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>

    <script>
        $(document).ready(function () {
            // Function to update subtotal
            function updateSubtotal() {
                var price = parseFloat($('#itemPrice').val());
                var quantity = parseInt($('#Count').val());
                var subtotal = price * quantity;
                $('#totalPrice').text(subtotal.toFixed(2));
            }

            totalPrice
            // Call updateSubtotal on page load
            updateSubtotal();

            // Listen for changes in price selection
            $('#itemPrice').change(function () {
                // Update item price
                var newPrice = $(this).val();
                $('#itemPrice').text(newPrice);
                // Call updateSubtotal to recalculate subtotal
                updateSubtotal();
            });

            // Listen for changes in quantity
            $('#Count').on('input', function () {
                // Call updateSubtotal to recalculate subtotal
                updateSubtotal();
            });
        });
    </script>

}

