@model RoleViewModel
@inject RoleManager<IdentityRole> _roleManager


<form asp-action="Create" method="post">

    <!-- Modal content-->


    <div class="row">
        <div class="card-body">
            <p class="card-text"> <strong>  Create New Role Sir</strong>  </p>
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control "/>

        </div>
    </div>

    <div class="row justify-content-center align-content-between">

       

        <div class="col-5">
            <a asp-action="Index" class="btn btn-danger my-3">Close</a>

        </div>


        <div class="col-5">
            <input type="submit" class="btn btn-success  mt-4 " value="Create Role" />

        </div>
    </div>
</form>