@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>ErrorPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link href="~/css/errorpage.css" rel="stylesheet" />
    <style>




    </style>
</head>
<body>
    <div class="flex-container">
        <div class="text-center">
            <h1>
                <span class="fade-in" id="digit1">4</span>
                <span class="fade-in" id="digit2">0</span>
                <span class="fade-in" id="digit3">4</span>
            </h1>
            <h3 class="fadeIn" style="margin-bottom:20px;">PAGE NOT FOUND</h3>

            <a  asp-asp-controller="Product" asp-action="Index" name="button">Return To Home</a>

        </div>
    </div>
</body>
</html>