<div class="d-grid gap-2">
    <button class="btn btn-lg btn-primary" type="button">Block button</button>
    <button class="btn btn-lg btn-primary" type="button">Block button</button>
</div>

<button type="button" class="btn btn-primary">
</button>

<div style="position:fixed;right:25px;bottom:25px;"
     class="text-white">

    <button type="button" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Add New
    </button>

</div>